.zoom_button {
 border: 1px solid #707070;
 background-color: #646464;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 font-size:2em;
 color: #FFFFFF;
 height: 40px;
 width: 40px;
 text-align: center;
 vertical-align: middle;
 line-height: 20px;
}
.action_round_cover {
  position: absolute;
  background-color: black;
}
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.main {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.connection_monitor {
  position: fixed;
  display: none;
  min-height: 30px;
  z-index: 90000;
  background: #ef6666;
  font-size: 1.8em;
  padding: 15px;
}

.link {
  border-bottom: 1px dashed;
}

.dashed {
  border-bottom: 1px dashed;
}

.logcard {
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px dashed;
}

.gameboard {
  position: relative;
  /*background-image: url("images/TS Map-11.jpg");*/
  background-image: url("images/TS Map-11-medium.jpg");
  /*background-image: url("images/TS Map-11-small.jpg");*/
  background-size: cover;
  width: 2550px;
  height: 1650px;
}

.status > ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 0.3em;
  text-align: center;
}

.status > ul > li {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  margin: 0;
  transition: .3s background-color;
  transition: .1s color;
}

.status > ul > li:hover {
  background-color: #005f5f;
  color: #fff
}

.hud_menu_overlay > div > ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 0.3em;
  text-align: center;
}

.hud_menu_overlay > div > ul > li {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  margin: 0;
  transition: .3s background-color;
  transition: .1s color;
}

.hud_menu_overlay > div > ul > li:hover {
  background-color: #005f5f;
  color: #fff
}

#display-cards {
  display:flex;
  flex-direction:column;
  overflow: scroll;
  height: 100%;
  width:100%;
}

.round {
  position: absolute;
  background-image: url("images/Turn.svg");
  background-size: cover;
}

.action_round_us {
  position: absolute;
  background-image: url("images/AmericanActionRound.svg");
  background-size: cover;
  display: all;
}

.action_round_ussr {
  position: absolute;
  background-image: url("images/SovietActionRound.svg");
  background-size: cover;
  display: all;
}

.defcon {
  position: absolute;
  background-image: url("images/Radiation_warning_symbol.svg");
  background-size: cover;
}

.vp {
  position: absolute;
  background-image: url("images/VPs.svg");
  background-size: cover;
}

.space_race_us {
  position: absolute;
  background-image: url("images/AmericanSpaceRace.svg");
  background-size: cover;
}

.space_race_ussr {
  position: absolute;
  background-image: url("images/SovietSpaceRace.svg");
  background-size: cover;
}

.milops_us {
  position: absolute;
  background-image: url("images/AmericanMilitaryOperations.svg");
  background-size: cover;
}

.milops_ussr {
  position: absolute;
  background-image: url("images/SovietMilitaryOperations.svg");
  background-size: cover;
}

.inline {
  display: inline;
}

.card {
  cursor: pointer;
}

.link {
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}

.country {
  position: absolute;
  cursor: pointer;
}

.showcard {
  text-decoration: none;
  cursor: pointer;
}


.cardimg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.cardbox_event_blocker {
 position:absolute;
 width:0px;
 height:0px;
 background-color: black;
 z-index: 89999;
 display:none;
 opacity: 0.4;
}
.cardbox {
  position: absolute;
  left: 413;
  height: 81vh;
  max-height: 520px;
  width: 100vw;
  max-width: 375px;
  background-image: url("/twilight/images/Base.svg");
  background-size: cover;
  z-index: 2;
  display: none;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cardbox-hud {
  display: block;
  zoom: 0.66;
  /* margin-top: 10em; */
  height: 81vh;
  min-height: 50vh;
  max-height: 340px;
  min-width: 240px;
  width: 35vw;
  background-image: url(/twilight/images/Base.svg);
  background-size: cover;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-right: 1em; */
  margin-left: 15.5em;
  margin-top: 1em;
}
#cardbox-hud-1 {
  /* margin-left: 7em; */
  margin-top: 13em;
}
.cardbox_menu {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 10%;
  height: 10%;
  z-index: 999999;
  transform: translate(-50%, -50%);
}
/* .cardbox_menu_playcard {
  position: fixed;
  left: 20%;
  top: 49%;
  z-index: 900009;
  width: 45%;
} */
.cardbox-exit {
  position: absolute;
  width: 55px;
  height: 55px;
  font-size: 4em;
  left: 87.9%;
  top: -1.8%;
  color: white;
  z-index: 9999999999;
}

#cardbox-exit-background {
  position: absolute;
  left: 85%;
  width: 45px;
  height: 45px;
  border: 3px black solid;
  border-radius: 100px;
  top: -1%;
  background: #eb2d2d;
}

.cardbox_menu_btn {
  text-align: center;
  width: 82%;
  font-size: 3em;
  font-weight: bold;
  background-color: #eb2d2d;
  border: 2px solid #111311;
  cursor: pointer;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  position: fixed;
  left: 0%;
  top: 100%;
  z-index: 900009;
}
.us {
  display: inline;
  float: left;
}

.ussr {
  display: inline;
  float: left;
}

.us_control {
  color: #FFFFFF;
  background-image: url("images/AmericanInfluenceControlledBackground.png");
  background-size: cover;
  text-align: center;
  line-height: 48px;
}

.us_uncontrol {
  color: #008fd5;
  background-image: url("images/AmericanInfluenceUnControlledBackground.png");
  background-size: cover;
  text-align: center;
  line-height: 48px;
}

.ussr_control {
  color: #FFFFFF;
  background-image: url("images/SovietInfluenceControlledBackground.png");
  background-size: cover;
  text-align: center;
  line-height: 48px;
}

.ussr_uncontrol {
  color: #d2232a;
  background-size: cover;
  background-image: url("images/SovietInfluenceUnControlledBackground.png");
  text-align: center;
  line-height: 48px;
}

.loader {
  width: 100%;
  max-width: 600px;
}

.event_tile {
  display:none;
  float:right;
}

.card-exit {
  z-index: 99999999999999;
  height: 55px;
  width: 55px;
  left: 86%;
  font-size: 4em;
  position: absolute;
}

@media only screen and (min-width: 750px) {
  .status {
    float: none;
    z-index: 40000;
  }
  .cardbox {
    position: fixed;
    float: none;
    z-index: 2;
  }
}

@media only screen and (orientation: portrait) and (max-width: 750px) {
  .status > ul {
    margin: 0;
  }

  .status > ul > li {
    padding: 20px;
  }

  .hud_menu_overlay > div > ul > li {
    padding: 20px;
  }

  .log {
    height: 12px;
    bottom: 0;
    padding: 0.2rem;
    position: fixed;
    background: black;
    overflow: hidden;
    margin-bottom: 0px;
    width: 100%;
  }

  .cardbox {
    position: fixed;
    z-index: 90000;
    top: 25%;
    left: 52%;
    display: block;
    zoom: 0.66;
  }

  #display-cards {
    flex-direction:row;
    padding: 0.5em;
    width: unset;
  }

  #cardbox-hud-1 {
    margin-left: 7em;
    margin-top: 10em;
  }

  .cardbox-hud {
    display: block;
    zoom: 0.66;
    margin-top: 10em;
    height: 81vh;
    min-height: unset;
    max-height: 340px;
    min-width: 240px;
    width: 50vw;
    background-image: url(/twilight/images/Base.svg);
    background-size: cover;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 1em;
    margin-right: 1em;
    margin-left: 0em;
    margin-top: 10em;
  }
}

@media only screen and (orientation: portrait) and (max-height: 700px) {
  .cardbox {
    zoom: 0.5;
    top: 23%;
  }
}

@media only screen and (orientation: landscape) and (max-height: 700px) {
  .status > ul {
    margin: 0;
  }

  .status > ul > li {
    padding: 20px;
  }

  .hud_menu_overlay > div > ul > li {
    padding: 20px;
  }

  .log {
    height: 15px;
    bottom: 0;
    padding: 0.2rem;
    position: fixed;
    background: black;
    overflow: hidden;
    margin-bottom: 0px;
    width: 100%;
  }

  .cardbox {
    position: fixed;
  }

  #display-cards {
    height: 97%;
  }

  #cardbox-hud-1 {
    margin-top: 9em;
  }

  .cardbox-hud {
    margin-left: 10.5em;
    min-height: 53vh;
  }
}
