.status {
  height: 450px;
}
.log {
  width: 70%;
}

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.connection_monitor {
  position: fixed;
  display: none;
  min-height: 30px;
  z-index: 90000;
  background: #ef6666;
  font-size: 1.8em;
  padding: 15px;
}

.link {
  border-bottom: 1px dashed;
}

.dashed {
  border-bottom: 1px dashed;
}

.logcard {
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px dashed;
}

.gameboard {
  position: absolute;
  /*background-image: url("images/TS Map-11.jpg");*/
  background-image: url("images/TS Map-11-medium.jpg");
  /*background-image: url("images/TS Map-11-small.jpg");*/
  background-size: cover;
  /*width: 5100px;
  height: 3300px;*/
  width: 2550px;
  height: 1650px;
}

.status > ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 0.3em;
  text-align: center;
  overflow: scroll;
}

.status > ul > li {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  margin: 0;
  transition: .3s background-color;
  transition: .1s color;
}

.status > ul > li:hover {
  background-color: #005f5f;
  color: #fff
}

.round {
  position: absolute;
  background-image: url("images/Turn.svg");
  background-size: cover;
}

.action_round_us {
  position: absolute;
  background-image: url("images/AmericanActionRound.svg");
  background-size: cover;
  display: all;
}

.action_round_ussr {
  position: absolute;
  background-image: url("images/SovietActionRound.svg");
  background-size: cover;
  display: all;
}

.defcon {
  position: absolute;
  background-image: url("images/Radiation_warning_symbol.svg");
  background-size: cover;
}

.vp {
  position: absolute;
  background-image: url("images/VPs.svg");
  background-size: cover;
}

.space_race_us {
  position: absolute;
  background-image: url("images/AmericanSpaceRace.svg");
  background-size: cover;
}

.space_race_ussr {
  position: absolute;
  background-image: url("images/SovietSpaceRace.svg");
  background-size: cover;
}

.milops_us {
  position: absolute;
  background-image: url("images/AmericanMilitaryOperations.svg");
  background-size: cover;
}

.milops_ussr {
  position: absolute;
  background-image: url("images/SovietMilitaryOperations.svg");
  background-size: cover;
}

.inline {
  display: inline;
}

.card {
  cursor: pointer;
}

.link {
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}

.country {
  position: absolute;
  cursor: pointer;
}

.showcard {
  text-decoration: none;
  cursor: pointer;
}


.cardimg {
  position: absolute;
  left: 0;
  top: 0;
  height: 520px;
  width: 375px;
}

.cardbox {
  position: absolute;
  left: 413;
  height: 520px;
  width: 375px;
  background-image: url("/twilight/images/Base.svg");
  background-size: cover;
  z-index: 2;
  display: none;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.us {
  display: inline;
  float: left;
}

.ussr {
  display: inline;
  float: left;
}

.us_control {
  color: #FFFFFF;
  background-image: url("images/AmericanInfluenceControlledBackground.png");
  background-size: cover;
  text-align: center;
  line-height: 48px;
}

.us_uncontrol {
  color: #008fd5;
  background-image: url("images/AmericanInfluenceUnControlledBackground.png");
  background-size: cover;
  text-align: center;
  line-height: 48px;
}

.ussr_control {
  color: #FFFFFF;
  background-image: url("images/SovietInfluenceControlledBackground.png");
  background-size: cover;
  text-align: center;
  line-height: 48px;
}

.ussr_uncontrol {
  color: #d2232a;
  background-size: cover;
  background-image: url("images/SovietInfluenceUnControlledBackground.png");
  text-align: center;
  line-height: 48px;
}

.loader {
  width: 100%;
  max-width: 600px;
}

.event_tile {
  display:none;
  float:right;
}

@media only screen and (min-width: 750px) {
  .status {
    float: none;
    z-index: 40000;
  }
  .cardbox {
    position: fixed;
    float: none;
    z-index: 40000;
  }
}
