body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.connection_monitor {
  position: fixed;
  display: none;
  min-height: 30px;
  z-index: 90000;
  background: #ef6666;
  font-size: 1.8em;
  padding: 15px;
}

.link {
  border-bottom: 1px dashed;
}

.dashed {
  border-bottom: 1px dashed;
}

.logcard {
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px dashed;
}

.gameboard {
  position: absolute;
  /*background-image: url("images/TS Map-11.jpg");*/
  background-image: url("images/TS Map-11-medium.jpg");
  /*background-image: url("images/TS Map-11-small.jpg");*/
  background-size: cover;
  /*width: 5100px;
  height: 3300px;*/
  width: 2550px;
  height: 1650px;
}

.hud {
  display: grid;
  grid-template-areas: "hud-header hud-content";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 5fr;

  position: fixed;
  float: none;
  z-index: 40000;

  font-size: 1.3rem;
  padding: 10px;
  width: 600px;
  height: 575px;
  background-color: #808080;
  border: 2px solid #948f8b;
  border-bottom: 0px;

  top: 100%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hud-header {
  grid-area: hud-header;
  display: flex;
}

.hud-header ul {
  width: 100%;
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
/* .hud-header li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
} */

.hud-header li {
  width: 100%;
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.4rem;
  cursor: pointer;
}

/* Option 1 - Display Inline */
/* .hud-header li {
  display: inline-block;
  margin-right: -4px;
} */
 
.hud-header a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.hud-header a:hover {
  background-color: #005f5f;
}
 
.hud-header a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.hud-content {
  grid-area: hud-content;
}

.status {
  /* float: left; */
  /* font-size: 1.8em; */
  padding: 10px;
  /* width: 390px;
  height: 425px;
  background-color: #fffccd;
  background-color: #808080;
  border: 2px solid #948f8b;
  border-bottom: 0px;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.log {
  /* overflow: hidden;
  position: absolute; */
  /* top: 431px;
  left: 0px;
  float: left;
  font-family: Courier, Sans-Serif;
  height: 200px;
  width: 390px; */
  padding: 10px;
  background-color: #fffccd;
  display: none;
  height: 95%;
  width: 95%;
  font-size: 1.3rem
  /* border: 2px solid #948f8b;
  border-top: 0px; */
}

li {
  margin-top: 6px;
}

.round {
  position: absolute;
  background-image: url("images/Turn.svg");
  background-size: cover;
}

.action_round_us {
  position: absolute;
  background-image: url("images/AmericanActionRound.svg");
  background-size: cover;
  display: all;
}

.action_round_ussr {
  position: absolute;
  background-image: url("images/SovietActionRound.svg");
  background-size: cover;
  display: all;
}

.defcon {
  position: absolute;
  background-image: url("images/Radiation_warning_symbol.svg");
  background-size: cover;
}

.vp {
  position: absolute;
  background-image: url("images/VPs.svg");
  background-size: cover;
}

.space_race_us {
  position: absolute;
  background-image: url("images/AmericanSpaceRace.svg");
  background-size: cover;
}

.space_race_ussr {
  position: absolute;
  background-image: url("images/SovietSpaceRace.svg");
  background-size: cover;
}

.milops_us {
  position: absolute;
  background-image: url("images/AmericanMilitaryOperations.svg");
  background-size: cover;
}

.milops_ussr {
  position: absolute;
  background-image: url("images/SovietMilitaryOperations.svg");
  background-size: cover;
}

.inline {
  display: inline;
}

.card {
  cursor: pointer;
}

.link {
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}

.country {
  position: absolute;
  cursor: pointer;
}

.showcard {
  text-decoration: none;
}

.cardimg {
  position: absolute;
  left: 0;
  top: 0;
  height: 520px;
  width: 375px;
}

.cardbox {
  grid-area: cardbox;
  position: absolute;
  left: 413;
  height: 520px;
  width: 375px;
  background-image: url("/twilight/images/Base.svg");
  background-size: cover;
  z-index: 1000;
  display: none;
  top: -550px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.us {
  display: inline;
  float: left;
}

.ussr {
  display: inline;
  float: left;
}

.us_control {
  color: #FFFFFF;
  background-image: url("images/AmericanInfluenceControlledBackground.png");
  background-size: cover;
  text-align: center;
  line-height: 48px;
}

.us_uncontrol {
  color: #008fd5;
  background-image: url("images/AmericanInfluenceUnControlledBackground.png");
  background-size: cover;
  text-align: center;
  line-height: 48px;
}

.ussr_control {
  color: #FFFFFF;
  background-image: url("images/SovietInfluenceControlledBackground.png");
  background-size: cover;
  text-align: center;
  line-height: 48px;
}

.ussr_uncontrol {
  color: #d2232a;
  background-size: cover;
  background-image: url("images/SovietInfluenceUnControlledBackground.png");
  text-align: center;
  line-height: 48px;
}

.loader {
  width: 100%;
  max-width: 600px;
}

.main {}

@media only screen and (min-width: 750px) {
  /* .status {
    position: fixed;
    float: none;
    z-index: 40000;
  }
  .log {
    position: fixed;
    float: none;
    z-index: 40000;
  } */
  .cardbox {
    position: fixed;
    float: none;
    z-index: 40000;
  }
}
